.elementor-398 .elementor-element.elementor-element-b7ba6cd:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-b7ba6cd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #FFFFFF 0%, #A5D8F3 100%);}.elementor-398 .elementor-element.elementor-element-b7ba6cd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-398 .elementor-element.elementor-element-b7ba6cd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-398 .elementor-element.elementor-element-a4fd320 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-45d12e7 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-398 .elementor-element.elementor-element-45d12e7{padding:300px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-f1faf2d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-398 .elementor-element.elementor-element-f1faf2d > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-afd882c{text-align:center;width:auto;max-width:auto;}.elementor-398 .elementor-element.elementor-element-afd882c .elementor-heading-title{color:#76787B;font-size:60px;font-weight:700;line-height:1.2em;}.elementor-398 .elementor-element.elementor-element-afd882c > .elementor-widget-container{margin:0px 0px 0px 0px;transform-origin:center bottom;}.elementor-398 .elementor-element.elementor-element-c94bb55 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-5a05663 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-381b458 > .elementor-container{max-width:1180px;}.elementor-398 .elementor-element.elementor-element-381b458{margin-top:0px;margin-bottom:180px;}.elementor-398 .elementor-element.elementor-element-7c6bc83 > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-6239db1{text-align:center;}.elementor-398 .elementor-element.elementor-element-6239db1 .elementor-heading-title{color:#FFFFFF;font-size:90px;font-weight:600;line-height:70px;}.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__content{text-align:center;padding:0px 0px 0px 0px;background-color:rgba(2, 1, 1, 0);}.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__title{font-size:24px;font-weight:700;line-height:1.6em;color:#76787B;}.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__title:not(:last-child){margin-bottom:0px;}.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__description{font-size:22px;font-weight:400;color:#666666;}.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta .elementor-cta__bg, .elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}.elementor-398 .elementor-element.elementor-element-e1a9554 > .elementor-widget-container{margin:-45px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-be20664 > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-386b5b8{text-align:center;}.elementor-398 .elementor-element.elementor-element-386b5b8 .elementor-heading-title{color:#FFFFFF;font-size:90px;font-weight:600;line-height:70px;}.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__content{text-align:center;padding:0px 0px 0px 0px;background-color:rgba(2, 1, 1, 0);}.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__title{font-size:24px;font-weight:700;line-height:1.6em;color:#76787B;}.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__title:not(:last-child){margin-bottom:0px;}.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__description{font-size:22px;font-weight:400;color:#666666;}.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta .elementor-cta__bg, .elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}.elementor-398 .elementor-element.elementor-element-80267c1 > .elementor-widget-container{margin:-45px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-7ac851f > .elementor-element-populated{margin:0px 20px 0px 20px;padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-5ec2c73{text-align:center;}.elementor-398 .elementor-element.elementor-element-5ec2c73 .elementor-heading-title{color:#FFFFFF;font-size:90px;font-weight:600;line-height:70px;}.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__content{text-align:center;padding:0px 0px 0px 0px;background-color:rgba(2, 1, 1, 0);}.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__title{font-size:24px;font-weight:700;line-height:1.6em;color:#76787B;}.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__title:not(:last-child){margin-bottom:0px;}.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__description{font-size:22px;font-weight:400;color:#666666;}.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta .elementor-cta__bg, .elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}.elementor-398 .elementor-element.elementor-element-dc0ab23 > .elementor-widget-container{margin:-45px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-2ce4f8f > .elementor-container{max-width:1180px;}.elementor-398 .elementor-element.elementor-element-2ce4f8f:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-2ce4f8f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #A5D8F3 0%, #FFFFFF 20%);}.elementor-398 .elementor-element.elementor-element-2ce4f8f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:200px 20px 180px 20px;}.elementor-398 .elementor-element.elementor-element-2ce4f8f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-398 .elementor-element.elementor-element-bea0e85{text-align:center;}.elementor-398 .elementor-element.elementor-element-bea0e85 .elementor-heading-title{color:#497637;font-size:60px;font-weight:700;line-height:1.2em;}.elementor-398 .elementor-element.elementor-element-bea0e85 > .elementor-widget-container{margin:0px 0px 35px 0px;}.elementor-398 .elementor-element.elementor-element-52a33ca{margin-top:0px;margin-bottom:80px;}.elementor-398 .elementor-element.elementor-element-502ad75 > .elementor-element-populated{margin:0px 30px 0px 0px;}.elementor-398 .elementor-element.elementor-element-58bbe5a .elementor-text-editor{text-align:justify;}.elementor-398 .elementor-element.elementor-element-58bbe5a{font-size:19px;font-weight:400;line-height:1.4em;}.elementor-398 .elementor-element.elementor-element-58bbe5a > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-398 .elementor-element.elementor-element-48d9f09 > .elementor-element-populated{border-style:solid;border-width:0px 0px 0px 1px;border-color:#76787B;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 30px;}.elementor-398 .elementor-element.elementor-element-48d9f09 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-header{color:#666666;font-size:25px;font-weight:400;}.elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-separator{border-bottom-style:none;}body.rtl .elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-image{padding-left:calc(19px/2);}body.rtl .elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-image + .elementor-price-list-text{padding-right:calc(19px/2);}body:not(.rtl) .elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-image{padding-right:calc(19px/2);}body:not(.rtl) .elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-image + .elementor-price-list-text{padding-left:calc(19px/2);}.elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list li:not(:last-child){margin-bottom:0px;}.elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-item{align-items:flex-start;}.elementor-398 .elementor-element.elementor-element-d8765a2{text-align:center;}.elementor-398 .elementor-element.elementor-element-d8765a2 > .elementor-widget-container{margin:0px 0px 80px 0px;}.elementor-398 .elementor-element.elementor-element-f5d9152{text-align:center;}.elementor-398 .elementor-element.elementor-element-f5d9152 > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-398 .elementor-element.elementor-element-127fb71:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-127fb71 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F1F1;}.elementor-398 .elementor-element.elementor-element-127fb71{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:110px 20px 60px 20px;}.elementor-398 .elementor-element.elementor-element-127fb71 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-398 .elementor-element.elementor-element-59088d7{text-align:center;}.elementor-398 .elementor-element.elementor-element-59088d7 .elementor-heading-title{color:#76787B;font-size:60px;font-weight:700;line-height:1.2em;}.elementor-398 .elementor-element.elementor-element-59088d7 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-398 .elementor-element.elementor-element-aed9df6 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-df4e96b > .elementor-element-populated{margin:20px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-header{color:#666666;font-size:25px;font-weight:400;}.elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-separator{border-bottom-style:none;}body.rtl .elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-image{padding-left:calc(19px/2);}body.rtl .elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-image + .elementor-price-list-text{padding-right:calc(19px/2);}body:not(.rtl) .elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-image{padding-right:calc(19px/2);}body:not(.rtl) .elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-image + .elementor-price-list-text{padding-left:calc(19px/2);}.elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list li:not(:last-child){margin-bottom:0px;}.elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-item{align-items:flex-start;}.elementor-398 .elementor-element.elementor-element-43dc1ec > .elementor-widget-container{margin:0px 0px 30px 0px;}body.elementor-page-398 h1.entry-title, .elementor-page-title{display:none;}@media(max-width:1024px){.elementor-398 .elementor-element.elementor-element-45d12e7{padding:200px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-f1faf2d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-398 .elementor-element.elementor-element-afd882c{text-align:center;}.elementor-398 .elementor-element.elementor-element-afd882c .elementor-heading-title{font-size:34px;line-height:1.4em;}.elementor-398 .elementor-element.elementor-element-5a05663 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-381b458{margin-top:0px;margin-bottom:0px;}.elementor-398 .elementor-element.elementor-element-7c6bc83 > .elementor-element-populated{margin:0px 0px 40px 0px;}.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__content{min-height:0px;padding:40px 30px 40px 30px;}.elementor-398 .elementor-element.elementor-element-be20664 > .elementor-element-populated{margin:0px 0px 40px 0px;}.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__content{min-height:0px;padding:40px 30px 40px 30px;}.elementor-398 .elementor-element.elementor-element-7ac851f > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__content{min-height:0px;padding:40px 30px 40px 30px;}.elementor-398 .elementor-element.elementor-element-bea0e85{text-align:center;}.elementor-398 .elementor-element.elementor-element-bea0e85 .elementor-heading-title{font-size:34px;line-height:1.4em;}.elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-header{font-size:20px;}.elementor-398 .elementor-element.elementor-element-127fb71{padding:60px 20px 60px 20px;}.elementor-398 .elementor-element.elementor-element-59088d7{text-align:center;}.elementor-398 .elementor-element.elementor-element-59088d7 .elementor-heading-title{font-size:34px;line-height:1.4em;}.elementor-398 .elementor-element.elementor-element-aed9df6{text-align:center;}.elementor-398 .elementor-element.elementor-element-df4e96b > .elementor-element-populated{margin:30px 40px 040px 40px;}}@media(max-width:767px){.elementor-398 .elementor-element.elementor-element-b7ba6cd{padding:0px 20px 0px 20px;}.elementor-398 .elementor-element.elementor-element-f1faf2d > .elementor-element-populated{margin:0px 0px 90px 0px;}.elementor-398 .elementor-element.elementor-element-afd882c .elementor-heading-title{font-size:26px;}.elementor-398 .elementor-element.elementor-element-381b458{margin-top:0px;margin-bottom:80px;}.elementor-398 .elementor-element.elementor-element-62d632b .elementor-button{font-size:16px;}.elementor-398 .elementor-element.elementor-element-bea0e85 .elementor-heading-title{font-size:26px;}.elementor-398 .elementor-element.elementor-element-502ad75 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-58bbe5a .elementor-text-editor{text-align:center;}.elementor-398 .elementor-element.elementor-element-48d9f09 > .elementor-element-populated{border-width:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-398 .elementor-element.elementor-element-c32fb70 .elementor-price-list-header{font-size:16px;}.elementor-398 .elementor-element.elementor-element-3c6fb0e .elementor-button{font-size:16px;}.elementor-398 .elementor-element.elementor-element-127fb71{padding:80px 20px 80px 20px;}.elementor-398 .elementor-element.elementor-element-59088d7 .elementor-heading-title{font-size:26px;}.elementor-398 .elementor-element.elementor-element-43dc1ec .elementor-price-list-header{font-size:16px;}.elementor-398 .elementor-element.elementor-element-22c5852 .elementor-button{font-size:16px;}}@media(min-width:768px){.elementor-398 .elementor-element.elementor-element-f1faf2d{width:69.003%;}.elementor-398 .elementor-element.elementor-element-c94bb55{width:30.968%;}.elementor-398 .elementor-element.elementor-element-502ad75{width:45.024%;}.elementor-398 .elementor-element.elementor-element-48d9f09{width:54.976%;}.elementor-398 .elementor-element.elementor-element-c72a41b{width:51.629%;}.elementor-398 .elementor-element.elementor-element-df4e96b{width:48.316%;}}@media(max-width:1024px) and (min-width:768px){.elementor-398 .elementor-element.elementor-element-f1faf2d{width:100%;}.elementor-398 .elementor-element.elementor-element-c94bb55{width:100%;}.elementor-398 .elementor-element.elementor-element-7c6bc83{width:100%;}.elementor-398 .elementor-element.elementor-element-be20664{width:100%;}.elementor-398 .elementor-element.elementor-element-7ac851f{width:100%;}.elementor-398 .elementor-element.elementor-element-c72a41b{width:100%;}.elementor-398 .elementor-element.elementor-element-df4e96b{width:100%;}}/* Start custom CSS for heading, class: .elementor-element-afd882c */.elementor-398 .elementor-element.elementor-element-afd882c strong {
    font-size:133%;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5a05663 */.elementor-398 .elementor-element.elementor-element-5a05663 img {
    width:140%;
    max-width:140%;
    margin-left:-40%;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6239db1 */.elementor-398 .elementor-element.elementor-element-6239db1 {
    margin:0 auto;
    display:inline-block;
    border:12px solid #ffffff;
    border-radius:100%;
    width:140px;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
}/* End custom CSS */
/* Start custom CSS for call-to-action, class: .elementor-element-e1a9554 */.elementor-398 .elementor-element.elementor-element-e1a9554  .elementor-cta__content {
    border-left:2px solid #ffffff;
    border-right:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
    padding-top:80px!important;
    position: relative;
}
.elementor-398 .elementor-element.elementor-element-e1a9554  .elementor-cta__content:before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:20%;
  height:2px;
  background:#ffffff;
}
.elementor-398 .elementor-element.elementor-element-e1a9554  .elementor-cta__content:after {
  content: "";
  position:absolute;
  top:0;
  right:0;
  width:20%;
  height:2px;
  background:#ffffff;
}

.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__title {
    background:rgba(255, 255, 255, 0.6);
    padding-top:15px;
    padding-bottom:15px;
}

.elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__description {
    padding:30px 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
    
}
@media screen and (min-width: 1025px) {
    .elementor-398 .elementor-element.elementor-element-e1a9554 .elementor-cta__description {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:260px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7c6bc83 */@media screen and (min-width: 768px) {
    .elementor-398 .elementor-element.elementor-element-7c6bc83 > .elementor-column-wrap {
        opacity:0;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-386b5b8 */.elementor-398 .elementor-element.elementor-element-386b5b8 {
    margin:0 auto;
    display:inline-block;
    border:12px solid #ffffff;
    border-radius:100%;
    width:140px;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
}/* End custom CSS */
/* Start custom CSS for call-to-action, class: .elementor-element-80267c1 */.elementor-398 .elementor-element.elementor-element-80267c1  .elementor-cta__content {
    border-left:2px solid #ffffff;
    border-right:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
    padding-top:80px!important;
    position: relative;
}
.elementor-398 .elementor-element.elementor-element-80267c1  .elementor-cta__content:before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:20%;
  height:2px;
  background:#ffffff;
}
.elementor-398 .elementor-element.elementor-element-80267c1  .elementor-cta__content:after {
  content: "";
  position:absolute;
  top:0;
  right:0;
  width:20%;
  height:2px;
  background:#ffffff;
}

.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__title {
    background:rgba(255, 255, 255, 0.6);
    padding-top:15px;
    padding-bottom:15px;
}

.elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__description {
    padding:30px 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
}
@media screen and (min-width: 1025px) {
    .elementor-398 .elementor-element.elementor-element-80267c1 .elementor-cta__description {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:260px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-be20664 */@media screen and (min-width: 768px) {
    .elementor-398 .elementor-element.elementor-element-be20664 > .elementor-column-wrap {
        opacity:0;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5ec2c73 */.elementor-398 .elementor-element.elementor-element-5ec2c73 {
    margin:0 auto;
    display:inline-block;
    border:12px solid #ffffff;
    border-radius:100%;
    width:140px;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
}/* End custom CSS */
/* Start custom CSS for call-to-action, class: .elementor-element-dc0ab23 */.elementor-398 .elementor-element.elementor-element-dc0ab23  .elementor-cta__content {
    border-left:2px solid #ffffff;
    border-right:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
    padding-top:80px!important;
    position: relative;
}
.elementor-398 .elementor-element.elementor-element-dc0ab23  .elementor-cta__content:before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:20%;
  height:2px;
  background:#ffffff;
}
.elementor-398 .elementor-element.elementor-element-dc0ab23  .elementor-cta__content:after {
  content: "";
  position:absolute;
  top:0;
  right:0;
  width:20%;
  height:2px;
  background:#ffffff;
}

.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__title {
    background:rgba(255, 255, 255, 0.6);
    padding-top:15px;
    padding-bottom:15px;
}

.elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__description {
    padding:30px 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
}
@media screen and (min-width: 1025px) {
    .elementor-398 .elementor-element.elementor-element-dc0ab23 .elementor-cta__description {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:260px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7ac851f */@media screen and (min-width: 768px) {
    .elementor-398 .elementor-element.elementor-element-7ac851f > .elementor-column-wrap {
        opacity:0;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-381b458 */.elementor-398 .elementor-element.elementor-element-381b458 {
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-bea0e85 */.elementor-398 .elementor-element.elementor-element-bea0e85 strong {
    font-size:135%;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-58bbe5a */.elementor-398 .elementor-element.elementor-element-58bbe5a p {
    margin-bottom:30px;
}
.elementor-398 .elementor-element.elementor-element-58bbe5a p:last-child {
    margin-bottom:0;
}/* End custom CSS */
/* Start custom CSS for price-list, class: .elementor-element-c32fb70 */.elementor-398 .elementor-element.elementor-element-c32fb70 li:last-child {
    margin-bottom:0;
}

.elementor-398 .elementor-element.elementor-element-c32fb70 li.elementor-price-list-item:before {
    content: "\2022";
    font-family: sans-serif;
    font-size:75px;
    line-height: 55%;
    margin-right:10px;
    color: #497637;
}

.elementor-398 .elementor-element.elementor-element-c32fb70 li.elementor-price-list-item .elementor-price-list-header {
    margin-bottom:25px;
}

.elementor-398 .elementor-element.elementor-element-c32fb70 li:last-child.elementor-price-list-item .elementor-price-list-header {
    margin-bottom:0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-59088d7 */.elementor-398 .elementor-element.elementor-element-59088d7 strong {
    font-size:125%;
}/* End custom CSS */
/* Start custom CSS for price-list, class: .elementor-element-43dc1ec */.elementor-398 .elementor-element.elementor-element-43dc1ec li.elementor-price-list-item:before {
    content: "\2022";
    font-family: sans-serif;
    font-size:75px;
    line-height: 55%;
    margin-right:10px;
    color: #497637;
}

.elementor-398 .elementor-element.elementor-element-43dc1ec li.elementor-price-list-item .elementor-price-list-header {
    margin-bottom:25px;
}/* End custom CSS */