body.elementor-kit-117{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 a{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 h1{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 h2{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 h3{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 h4{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 h5{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 h6{font-family:"Open Sans", Open Sans, Sans-serif;}body.elementor-kit-117 button,body.elementor-kit-117 input[type="button"],body.elementor-kit-117 input[type="submit"],body.elementor-kit-117 .elementor-button{font-family:"Open Sans", Open Sans, Sans-serif;font-size:24px;font-weight:800;text-transform:uppercase;line-height:30px;color:#FFFFFF;border-radius:0px 0px 0px 0px;padding:23px 25px 23px 25px;}/* Start custom CSS */.elementor-button {
    margin-top:10px;
    margin-bottom:10px;
}
.elementor-button:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: all;
    transition-property: all;
}
.elementor-button:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
.elementor-button:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center,ellipse,rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%);
    background: radial-gradient(ellipse at center,rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: all;
    transition-property: all;
}/* End custom CSS */